# macOS specific system files
.DS_Store

# Dependencies folder
node_modules

# Build output
/build
/.svelte-kit
/package

# Environment variable files
.env
.env.*

# Temporary Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# WebStorm specific folder
.idea/

# Backup images
/backup_images