@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&family=Open+Sans:wght@300;400;500;600&display=swap') layer(base);

@import '$lib/styles/buttons.css';
@import '$lib/styles/toasts.css';
@import 'tailwindcss';

/*noinspection CssInvalidAtRule*/
@plugin "daisyui" {
    themes: light --default;
    logs: false;
}

/*noinspection CssInvalidAtRule*/
@theme {
    --color-main: #950740;
    --color-dark: #6f2232;
    --color-light: #e0aeb5;
    --color-super-light: #fdd8e6;
    --color-gray: #4e4e50;
    --color-light-gray: #f5f5f5;
    --color-dark-gray: #282829;

    --color-success: #57cc99;
    --color-success-content: #004000;
    --color-error: #c1121f;

    --font-custom: Montserrat, Work Sans, Open Sans, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', 'Work Sans', sans-serif;
}
